*/.vs
*/bin
*/obj
*/packages

*/GTTODChat Installer/bin
*/GTTODChat Installer/obj
*/GTTODChat Installer/packages

GTTODChat Server/Server/bin
GTTODChat Server/Server/obj
GTTODChat Server/Server/packages